<h2>Login</h2>
<%= form_for @loginuser, :url => {:action => "login_user" } do |f| %>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <p>
  <%= f.label :username %><br />
  <%= f.text_field :username %>
  </p>
  <p>
  <%= f.label :password %><br /> 
  <%= f.password_field :password %>
  </p>
  <%= f.submit "Login" %>
<% end %>
