<h1>Dashboard</h1>
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
<% @posts.each do |post| %>
  <div class = "post box">
    <h2><%= link_to post.title, post, :class => "post_title" %></h2>
    <p class="post_content"><%= post.content %></p>
    <div class = "post_options">
      <%= link_to "View", post, :class => "button" %>
      <%= link_to "Edit", edit_post_path(post), :class => "button" %>
      <%= link_to "Delete", post, :confirm => "Are you sure you want to remove '#{post.title}'?", :method => "delete", :class => "button" %>
    </div>
  </div>

<% end %>
