<div class="view">
  <div class="post box form">
    <center><h1>Add a new post</h1></center>
    <%= form_for @post do |f| %>
      <% if @post.errors.any? %>
        <div id="errors">
          <h3>Adding a new post failed</h3>
        <ul class="errors small">
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <%= f.submit "Add post" %>
    <% end %>
      <div class="post_options">
        <%= link_to "back", :back, :class => "button" %>
      </div>
  </div>
</div>
