<!DOCTYPE html>
<html>
  <head>
    <title>Awesomeblog</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <% if current_user %>
        <div id="user_nav" class="box">
          <span id="user_status">Logged in as <i><%= current_user.username %></i>,</span>
            <span id="new_post">
              <%= link_to "New Post", new_post_path, :class =>"button" %>
            </span>
            <span id="dashboard">
              <%= link_to "Dashboard", posts_path,:class => "button" %>
            </span>
            <span id="log_out">
              <%= link_to "Log-out", log_out_path, :class => "button" %>
            </span>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
